[worldserver]

# 0=off 1=on
NerfHerder.Enabled = 1

# nerf any creature over max player level, 0=off 1=on
NerfHerder.PlayerLevelEnabled = 1

# nerf any alliance and horde over max zone level, 0=off 1=on
NerfHerder.ZoneLevelEnabled = 0

# force any alliance and horde to pvp, 0=off 1=on
NerfHerder.ForcePvPEnabled = 0

# give honor on every pvp flagged kill, 0=off 1=on
NerfHerder.HonorPvPEnabled = 0

# rate of honor on every pvp flagged kill, 1=100% 2=200%
NerfHerder.HonorPvPRate = 1

# grey NPCs still give honor, 0=off 1=on
NerfHerder.HonorGreyEnabled = 0

# rate of honor on every grey pvp flagged kill, 1=100% 2=200%
NerfHerder.HonorGreyRate = 0.5