[worldserver]

# 0=off 1=on
NerfHerder.Enabled = 1

# how do you want to nerf NPCs?
# 1=proportional
# 1.2=20% more than proportional
# 0.8=20% less than proportional
NerfHerder.NerfRate = 0.7

# nerf any creature over max player level, 0=off 1=on
NerfHerder.PlayerLevelEnabled = 1

# nerf any alliance/horde NPCs over max zone level, 0=off 1=on
NerfHerder.ZoneLevelEnabled = 1

# force any alliance/horde NPCs to PVP, 0=off 1=on
NerfHerder.ForcePvPEnabled = 1

# give honor on every pvp flagged kill, 0=off 1=on
NerfHerder.Honor.Enabled = 1

# rate of honor on every pvp flagged kill, 1=100% 2=200%
NerfHerder.Honor.Rate = 2

# grey NPCs still give honor, 0=off 1=on
NerfHerder.Honor.GreyEnabled = 1

# rate of honor on every grey pvp flagged kill, 1=100% 2=200%
NerfHerder.Honor.GreyRate = 2

# give money on honor kills? 0=off 1=on
NerfHerder.Honor.PlunderEnabled = 1

# how much money per creature level on honor kill? (in copper)
NerfHerder.Honor.PlunderAmountPerLevel = 50

# give world buff on kills, 0=off 1=on
NerfHerder.WorldBuff.Enabled = 1

# number of kills to accumulate to get world buff
NerfHerder.WorldBuff.KillCount = 12

# time cooldown before world buff can be gained again (minutes)
NerfHerder.WorldBuff.Cooldown = 60

# which world bufff to give
NerfHerder.WorldBuff.SpellId.01 = 16609
NerfHerder.WorldBuff.SpellId.02 = 0
NerfHerder.WorldBuff.SpellId.03 = 0
# Warchief's Blessing (16609)
# Rallying Cry of the Dragonslayer (22888)
# Spirit of Zandalar (24425)

# allow buffing for assassinating faction leaders w/out raid group, 0=off 1=on
NerfHerder.ForTheFactionEnabled = 1;

# hide TBC and WOTLK pvp vendors depending on max player level, 0=off 1=on
NerfHerder.HidePvPVendorsEnabled = 1